* linguist-detectable=false
*.py linguist-detectable=true
*.ipynb filter=remove-notebook-output
docs/* linguist-documentation
examples/* linguist-vendored
tests/* linguist-vendored
opm_models/* linguist-vendored
others/* linguist-vendored
general_tests/* linguist-vendored
