title = "Custom MBSE Model Graph Schema"
version = "1.0"

# ====================
# Node Entities
# ====================

[entities.mbse_entity]
description = "Represents a specific MBSE component, equipment, or system"
properties = [{ name = "label", type = "string", optional = false, description = 'name of the MBSE component, equipment, or system'},
              { name = "ID",    type = "string", optional = false,  description = 'unique alphanumeric code associated with the MBSE component, equipment, or system'}
              ]

# ====================
# Relationships
# ====================

[relationships.link]
description = """Represents a functional relationship between two entities—such as components equipment 
                 or systems—where one entity influences, supports, or enables the operation, performance or 
                 behavior of the other within a defined operational or engineering context."""
from_entity = "mbse_entity"
to_entity = "mbse_entity"


[relationships.composition]
description = """Denotes a hierarchical or structural relationship in which one entity—such as a component, 
                 equipment, or system—is a constituent part of another, indicating that the entities are 
                 physically or logically assembled together to form a larger, integrated whole. 
                 This link captures part-whole dependencies essential for understanding system architecture, 
                 configuration, and functional decomposition."""
from_entity = "mbse_entity"
to_entity = "mbse_entity"


[relationships.support]
description = """Indicates a non-hierarchical relationship in which one entity—such as a component, equipment, 
                 or system—provides auxiliary functionality, infrastructure, or services that enable, enhance, 
                 or maintain the operation of another entity. This link captures dependencies where the supporting 
                 entity is not a direct part of the other, but is essential for its sustained performance, reliability, 
                 or availability within a broader system context."""
from_entity = "mbse_entity"
to_entity = "mbse_entity"
